<div id="<%= dom_id flight %>">
  <p>
    <strong>Flight identifier:</strong>
    <%= flight.flight_identifier %>
  </p>

  <p>
    <strong>Flt num:</strong>
    <%= flight.flt_num %>
  </p>

  <p>
    <strong>Scheduled origin gate:</strong>
    <%= flight.scheduled_origin_gate %>
  </p>

  <p>
    <strong>Scheduled destination gate:</strong>
    <%= flight.scheduled_destination_gate %>
  </p>

  <p>
    <strong>Out gmt:</strong>
    <%= flight.out_gmt %>
  </p>

  <p>
    <strong>In gmt:</strong>
    <%= flight.in_gmt %>
  </p>

  <p>
    <strong>Off gmt:</strong>
    <%= flight.off_gmt %>
  </p>

  <p>
    <strong>On gmt:</strong>
    <%= flight.on_gmt %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= flight.destination %>
  </p>

  <p>
    <strong>Origin:</strong>
    <%= flight.origin %>
  </p>

  <p>
    <strong>Destination full name:</strong>
    <%= flight.destination_full_name %>
  </p>

  <p>
    <strong>Origin full name:</strong>
    <%= flight.origin_full_name %>
  </p>

</div>
